<p>users works!</p>
<!-- for stringinterpolation {{}} -->

<p>my name is {{ name }}</p>

<p>my age is {{ getage() }}</p>

<!-- for property binding use [] -->
<button class="btn btn-primary" [disabled]="allowNewUser">Hello</button>
<span [classList]="'p-1 mx-1 bg-primary'">Hello property Binding</span>

<!-- Event Binding example -->
<p>Change Message using Event binding ----- {{ eventBinded_string }}</p>
<button class="bg bg-primary" (click)="changeStringUsingEvent()">
  Change String
</button>

<!-- sending data from HTML to TS -->

<div class="form-group">
  <label for="">Sending Data</label>
  <input
    type="text"
    class="form-control"
    name="sending_data"
    id=""
    aria-describedby="helpId"
    placeholder=""
    (input)="sendDataFromHTMLtoTS($event)"
  />
  <small id="helpId" class="form-text text-muted"
    >Data coming from TS {{ htmltotsData }}</small
  >

  <br />
  <div class="border my-2 py-2 col-4">
    <p>Two way Binding</p>
    <div class="form-group">
      <label for="two-way-binding"></label>
      <input
        type="text"
        class="form-control"
        name="two-way-binding"
        id="two-way-binding"
        [(ngModel)]="two_way_binding"
        aria-describedby="helpId"
        placeholder=""
      />
      <small id="helpId" class="form-text text-muted"
        >Help text --- {{ two_way_binding }}</small
      >
    </div>
  </div>

  <hr />
  NGiF
  <div class="border col-4">
    <button
      type="button"
      name=""
      id=""
      (click)="showNgIfDemo()"
      class="btn btn-primary btn-lg btn-block"
    >
      NG IF
    </button>
    <span *ngIf="ngIfbuttonClicked"> Show Me </span>
  </div>
</div>
